.result-container {
  display: flex;
}

.pl25 {
  padding-left: 25px;
}
.results {
  width: 50%;
  margin: 0px;
  padding: 0px;

  @media (max-width: 768px) {
    width: 100%;
  }

  .results__search-bar {
    position: fixed;
    width: 50%;
    z-index: 2;

    @media (max-width: 768px) {
      width: 100%;
    }


    img {
      @media (max-width: 768px) {
        width: 35%;
      }
    }

    p {
      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }

  .padding {
    padding: 20px 0 0 25px;

    @media (max-width: 768px) {
      padding: 6px 0 0 13px;
    }
  }

  &__search-bar {
    padding-bottom: 12px;
  }

  &__list {
    position: relative;
    top: 187px;
    z-index: 1;
    min-height: 540px;
  }
}

.map-container {
  position: fixed;
  height: 100vh;
  width: 50%;
  left: 50%;
}

#map {
  flex: 0 0 50%;
  height: 100vh;
  position: sticky !important; /* !important to override Gmaps inline CSS */
  top: 0 !important;
}

