<div class="card">
  <div class="card__content pt pl">
    <p class="card-title">Pharmacie du Prado</p>
    <p><i class="fa fa-map-marker" aria-hidden="true"></i>&nbsp103 avenue du prado, 13008 Marseille</p>
    <p><i class="fa fa-clock-o" aria-hidden="true"></i>&nbspOuvert du lundi au samedi de 09h à 19h.</p>
    <div class="pt--">
      <a href="http://pharmacie-passard.clicetprix.com" class="order-button">Commander dans cette pharmacie</a>
    </div>
  </div>
  <div class="card__picture">
    <%= image_tag "pharmacie-pic.jpg" %>
  </div>
</div>
