<div class="infowindow-map">
  <p class="infowindow-card-title"><%= pharmacy.name  %></p>
  <p><%= pharmacy.full_address %></p>
  <p class="infowindow-last-child"><%= pharmacy.opening_times %><br></p>
  <a href='<%= pharmacy.url %>' class='infowindow-card-button'>Commander dans cette pharmacie</a>
  <p></p>
</div>
