

<div class="research-button">
  <div>
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <input type="text" placeholder="Ville, rue, code postal ...">
  </div>
  <div class="cta"><%= link_to "Chercher", root_path %></div>
</div>
