
<form action="<%= pharmacies_path %>" class="research-button">
  <i class="fa fa-map-marker" aria-hidden="true"></i>
  <input type="text" placeholder="Ville, rue, code postal ..." name="address" autofocus='true' value="<%= params[:address]%>" class="search-field" id="pharmacy-lookup">
  <input type="submit" value="Chercher" class="cta">
</form>




