<div class="about">
  <div class="home home__background" style="background-image: linear-gradient(-45deg, #FED63E 50%, #FFED72 100%);">
    <%= render 'shared/header' %>
    <div class="home__baseline">
      <div id="background-square-about" style="background-image: url('<%= image_url "background_element.png" %>')">
        <div class="home__landing-content">
          <h2 class="about-title">Qui nous sommes ? </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="presentation">
    <h3 class="presentation-title">Titre</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique reiciendis neque, iste consequuntur, accusantium provident cupiditate facilis quaerat quasi nisi vero molestiae, dignissimos doloribus, deserunt vitae placeat? Porro, quidem, aperiam.</p>
    <h3 class="pt">Titre 2</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique reiciendis neque, iste consequuntur, accusantium provident cupiditate facilis quaerat quasi nisi vero molestiae, dignissimos doloribus, deserunt vitae placeat? Porro, quidem, aperiam.</p>
    <h3 class="pt">Titre 3</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique reiciendis neque, iste consequuntur, accusantium provident cupiditate facilis quaerat quasi nisi vero molestiae, dignissimos doloribus, deserunt vitae placeat? Porro, quidem, aperiam.</p>
    <h3 class="pt">Titre 4</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique reiciendis neque, iste consequuntur, accusantium provident cupiditate facilis quaerat quasi nisi vero molestiae, dignissimos doloribus, deserunt vitae placeat? Porro, quidem, aperiam.</p>
  </div>
</div>
<%= render 'shared/footer' %>
