.cp-button {
  border-radius: 31px;
  padding: 5px 5%;
}


.research-button {
  background: #FFFFFF;
  border: 4px solid #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
  border-radius: 100px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search-field {
    flex: 1 0 80%;

    @media (max-width: 768px) {
      flex: 1 0 60%;
    }
  }

  .fa-map-marker {
    color: $color-brand;
    font-size: 26px;
    padding: 0 15px;
  }

  input {
    border: none;
  }

  input:focus {
    outline:none;
  }

  .cta {
    background-color: $cta-blue;
    width: 120px;
    height: 50px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    margin-right: -4px;
    text-align: center;
    color: white;

    @media (max-width: 768px) {
      width: 80px;
    }

    a {
      color: white;
    }
  }
}

.order-button {
  padding-left: 20%;
  text-decoration: underline;
  color: $cta-blue;

  @media (max-width: 1220px) {
    padding-left: 10%;
  }
}


.research-button-mobile {

  .search-input {
    background: #FFFFFF;
    border: 4px solid #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    border-radius: 100px;
    height: 30px;
    width: 90%;
    margin: 0 auto;
    padding-left: 9px;

    input {
      border: none;
    }

    input:focus {
      outline:none;
    }

    .search-field-mobile {
      width: 87%;
    }
  }

  .fa-map-marker {
    color: $color-brand;
  }

  .cta-mobile {
    display: block;
    width: 90%;
    margin: 6px auto 0px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.50);
    background-color: blue;
    border-radius: 100px;
    color: #FFF;
    height: 30px;
    border: none;
  }
}

.infowindow-card-button {
  text-align: center;
  margin: 0px 6px;
  padding: 5px 20px;
  text-decoration: underline;
  background-color: $cta-blue;
  color: white;
  border-radius: 31px;

  &:hover {
    color: white;
  }
}

.infowindow-card-title {
  font-size: 18px;
  font-weight: bolder;
}

